@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
  font-family: 'Times New Roman', 'IBMPlexSansKR', sans-serif;
}