body {
    background-color: #2c2c2c;
    font-family: 'Times New Roman', 'IBM Plex Sans KR', serif;
}

#index main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #F5F0EB;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #F5F0EB;
    font-size: 16px;
    color: #2c2c2c;
    padding: 10px 20px;
    margin: 40px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: 70vh;
    color: #F5F0EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    color: #F5F0EB;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}

li {
    margin-bottom: 12px;
}

nav {
    width: 50vw;
    display: inline-flex;
    justify-content: space-around;
    margin: 60px 0;
}

nav a {
    color: #F5F0EB;
    text-decoration: none;
}

.explain {
    width: 40vw;
    font-size: 24px;
}

.home-link {
    text-decoration: none;
    font-size: 16px;
    color: #2c2c2c;
}

.contact-link {
    font-size: 24px;
    color: #F5F0EB;
    margin-top: 48px;
    display: block;
}

.face img {
    width: 250px;
    border-radius: 50%;
}

.image img {
    width: 200px;
    border-radius: 50%;
}

.block {
    width: 15vw;
    text-align: center;
}